body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #354463;
  background-color: rgb(239, 239, 239);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.productDetail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.cardBox {
  border: transparent;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  width: 20rem;
  margin: 1rem;
  text-align: center;
  color: #354463;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
}

.card-img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  margin: 0.5rem;
}

.name {
  margin-top: 1rem;
  font-size: 2rem;
  font-style: bold;
  margin-bottom: 1rem;
}

.email {
  font-size: 1.2rem;
  font-style: bold;
}

.header {
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: #354463;
}

.header-logo {
  display: flex;
  align-items: center;
}

i {
  font-size: 3rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

button {
  border-radius: 1rem;
  width: 6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: #354463;
  border: 0.2rem solid #354463;
}

button:hover {
  background-color: #354463;
  color: white;
}

.center {
  height: 100vh;
  width: 100vw;
  margin-top: 10rem;
}

.loader {
  border: 2rem solid #354463;
  border-top: 2rem solid whitesmoke;
  border-bottom: 2rem solid whitesmoke;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
